<div class="container-fluid p-0 d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">EMI</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a [routerLink]="['/home']" class="nav-link active fw-bold" aria-current="page">Home</a>
          </li>
        </ul>
        @if (currentUser()) {
          <ul class="navbar-nav">
            <li class="nav-item">
              <a [routerLink]="['/supplies']" class="nav-link">Insumos</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/categories']" class="nav-link">Categorias</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/suppliers']" class="nav-link">Proveedores</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/clients']" class="nav-link">Clientes</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/purchases']" class="nav-link">Compras</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ currentUser()?.name }}
              </a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['/user-profile']" class="dropdown-item">Perfil de Usuario</a></li>
                @if (currentUser()?.role === 1) {
                  <li><a [routerLink]="['/role']" class="dropdown-item">Administrar Roles</a></li>
                  <li><a [routerLink]="['/users']" class="dropdown-item">Administrar Usuarios</a></li>
                }
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-danger fw-bold" style="cursor: pointer;" (click)="logout()" >Cerrar Sesión</a>
            </li>
          </ul>
        } @else {
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a [routerLink]="['/login']" class="nav-link">Iniciar Sesion</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/register']" class="nav-link">Registrarse</a>
            </li>
          </ul>
        }
      </div>
    </div>
  </nav>
  <main data-bs-theme="dark" class="flex-grow-1">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-body-tertiary text-light py-3" data-bs-theme="dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0">© 2026 EMI - Entorno de Manejo de Inventario</p>
        </div>

        <div class="col-md-6 text-md-end">
          <p class="mb-0">Sistema de gestión de inventarios</p>
        </div>
      </div>
    </div>
  </footer>
</div>
